@import url(./fonts.css);
@import url(./normalize.css);

body {
    font-family: 'DMSans', sans-serif;
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.25;
    color: #000000;
}

a,
button,
input,
textarea,
svg * {
    transition-duration: 0.2s;
}

a {
    color: #000000;
    text-decoration: none;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #244D4D;
}

.container {
    max-width: calc(1200px + 15px * 2);
    padding-inline: 15px;
    margin-inline: auto;
}

@media (max-width:1200px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width:992px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width:767px) {
    .container {
        max-width: none;
    }
}

/* --------------------------------------------------------------- */

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
}

.header-logo,
.header-burger-menu,
.header-search-button {
    display: flex;
    flex-shrink: 0;
}

.header-logo {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    color: #244d4d;
}

.header-logo:hover {
    color: #2b8d96;
}

.header-menu-list {
    display: flex;
    column-gap: 50px;
}

.header-menu-link {
    font-size: 16px;
    color: #161616;
}

.header-menu-link:hover {
    color: #2b8d96;
}

.header-menu-link.active {
    display: inline-flex;
    position: relative;
    height: 25px;
    font-weight: 700;
    color: #154444;
}

.header-menu-link.active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #154444;
    display: flex;
    align-self: flex-end;
}

.header-menu-link.active:hover {
    color: #2b8d96;
}

.header-menu-link.active:hover::after {
    background-color: #2b8d96;
}

.header-search-burger-buttons {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.header-search-button,
.header-burger-menu {
    border: none;
    background-color: unset;
}

.header-search-button:hover svg path,
.header-burger-menu:hover svg path {
    fill: #2b8d96;
}

.header-search-button:hover,
.header-burger-menu:hover {
    cursor: pointer;
}

@media (max-width:1200px) {
    .header-menu-list {
        column-gap: 25px;
    }

    .header-search-burger-buttons {
        column-gap: 15px;
    }
}

@media (max-width:767px) {
    .header {
        padding-top: 20px;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    
    .header-search-burger-buttons {
        flex-direction: column;
        row-gap: 20px;
    }
}

/* --------------------------------------------------------------- */

.slider-white-chair {
    display: flex;
    margin-top: 25px;
}

.slider-white-chair-button {
    display: flex;
    flex-shrink: 0;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}

.slider-white-chair-image {
    width: clamp(290px, 27vw, 410px);
    height: clamp(350px, 35vw, 560px);
}

.slider-white-chair-info {
    background-color: #244D4D;
    padding: clamp(35px, 5vw, 100px);
}

.slider-white-chair-info-h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(25px, 3vw, 56px);
    color: #FFFFFF;
}

.slider-white-chair-info-p {
    margin-top: 2.5vh;
    font-size: clamp(15px, 2vw, 20px);
    color: #FFFFFF;
}

.slider-white-chair-info-button {
    white-space: nowrap;
    margin-top: 2.5vh;
    padding: 1.5vh 2vw;
    border: none;
    background-color: #FFFFFF;
    color: #244D4D;
    cursor: pointer;
}

.slider-white-chair-info-button:hover {
    color: #FFFFFF;
    background-color: #587f7f;
}

@media (max-width:767px) {
    .slider-white-chair-image {
        width: clamp(200px, 30vw, 410px);
        height: clamp(280px, 40vw, 560px);
    }
}

@media (max-width:598px) {
    .slider-white-chair {
        flex-direction: column;
        align-items: center;
    }

    .slider-white-chair-image,
    .slider-white-chair-info {
        width: 65vw;
    }

    .slider-white-chair-image {
        height: 70vw;
    }

    .slider-white-chair-info {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-bottom: 4vw;
    }

    .slider-white-chair-info-button {
        align-self: center;
    }
}

@media (max-width:360px) {
    .slider-white-chair-image,
    .slider-white-chair-info {
        width: clamp(91vw, 21vw, 410px);
        height: clamp(380px, 29vw, 560px);
    }
}

/* --------------------------------------------------------------- */

.companies-sponsors {
    margin-top: 140px;
}

.companies-sponsors-h3 {
    font-size: clamp(23px, 2vw, 32px);
    text-align: center;
    margin-bottom: 40px;
}

.container-aleternate {
    max-width: calc(1080px + 15px * 2);
    margin-inline: auto;
    padding-inline: 15px;
}

.companies-sponsors-logos-container {
    width: 100%;
    overflow: hidden;
}

.companies-sponsors-logos-track {
    display: flex;
    column-gap: 30px;
    animation: scrollLogos 20s linear infinite;
    width: fit-content;

}

.companies-sponsors-link {
    flex: 0 0 auto;
    width: 150px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.companies-sponsors-link img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

@keyframes scrollLogos {
    0% {
    transform: translateX(0);
    }
    100% {
    transform: translateX(-50%);
    }
}

.companies-sponsors-logos-container:hover .companies-sponsors-logos-track {
    animation-play-state: paused;
}

@media (max-width:767px) {
    .companies-sponsors {
        margin-top: 70px;
    }
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */

.about-us {
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
}

.about-us-specifications {
    margin-top: 47px;
}

.about-us-specifications-text-h2 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(23px, 2.5vw ,32px);
}

.about-us-specifications-text-p {
    margin: 20px 0 0 0;
    font-size:  clamp(13px,  2vw, 20px);
}

.about-us-specifications-list {
    margin-top: 40px;
}

.about-us-specifications-item {
    display: flex;
    align-items: start;
    column-gap: 30px;
}

.about-us-specifications-item:not(:last-child){
    margin-bottom: 30px;
}

.about-us-specifications-item-wrapper-text {
    max-width: 300px;
}

.about-us-specifications-item-wrapper-text-h3 {
    margin: 0;
    font-size: clamp(16px, 2.5vw, 20px);
}

.about-us-specifications-item-wrapper-text-p {
    font-size: clamp(13px, 2.5vw, 18px);
    line-height: 1.4;
    margin-top: 15px;
}

@media (max-width:1200px) {
    .about-us {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 70px;
    }

    .about-us-sofa-image {
        width: clamp(360px, 45vw, 630px);
        height: clamp(330px, 42vw, 610px);
    }

    .about-us-specifications {
        margin: 30px 0 0 0;
    }

    .about-us-specifications-item {
        align-items: center;
    }
}

@media (max-width:360px) {
    .about-us-sofa-image {
        width: 290px;
        height: 280px;
    }
}

/* --------------------------------------------------------------- */

.swiper-furniture {
    margin-top: 140px;
}

.swiper-furniture-wrapper {
    display: flex;
}

.swiper-text-h3-p {
    max-width: 770px;
}

.swiper-text-h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(23px, 2.5vw, 32px);
    color: #000000;
    margin: 0;
}

.swiper-text-p {
    font-size: clamp(13px,  2vw, 20px);
    line-height: 1.3;
    margin-top: 20px;
}

.swiper-buttons-container {
    display: flex;
    column-gap: 15px;
    margin: auto 0 0 auto;
}

.button-arrow {
    width: 40px;
    height: 40px;
    background-color: #F4F6F6;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
}

.button-arrow:hover {
    background-color: #e7e9ed;
}

.button-arrow:hover path {
    fill: #244D4D;
}

.swiper-button-disabled {
    opacity: 0.8;
    cursor: default;
}

.swiper-button-disabled.prev,
.swiper-button-disabled.next {
    background-color: #F4F6F6;
}

.swiper-button-disabled.prev path,
.swiper-button-disabled.next path {
    fill: #D1CECE;
}

.prev svg {
    margin: 0 0 -1px -2px;
    transform: rotate(-180deg);
}

.next svg {
    margin: 4px -3px 0 0;
}

.swiper {
    margin-top: 80px;
}

.swiper-slide {
    padding: 6px;
}

.swiper-card-item,
.swiper-slide-active .swiper-card-image {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.swiper-slide-active .swiper-card-h4, 
.swiper-slide-active .swiper-card-p {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.swiper-card-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
    padding: 25px;
}

.swiper-card-h4 {
    margin-top: 30px;
    font-family: 'DMSans', sans-serif;
    font-weight: 500;
    line-height: 1.35;
    color: #000000;
    margin: 0;
}

.swiper-card-p {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.29;
    color: #244D4D;
}

.swiper-card-h4-buttons,
.swiper-card-price-buy {
    display: flex;
    justify-content: space-between;
}

.swiper-card-h4-buttons,
.swiper-card-price-buy {
    display: flex;
    flex-direction: row;
    row-gap: 20px;
}

.swiper-card-radius-buttons {
    display: flex;
    justify-content: flex-end;
    column-gap: 8px;
}

.swiper-card-button-heart,
.swiper-card-button-repost {
    position: relative;
    width: 25px;
    height: 25px;
    border: none;
    background-color: #ECF4FF;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
}


.swiper-card-button-heart svg {
    margin-left: 1px;
}

.swiper-card-button-repost svg {
    margin-left: 1px;
    margin-bottom: 0.5px;
}

.is-active-heart path {
    fill: #ffffff;
}

.is-active-heart {
    background-color: #EF5423;
}

.swiper-card-button-heart:hover path {
    fill: #244D4D;
}

.swiper-card-button-heart.is-active-heart:hover path {
    fill: #ffffff;
} 

.swiper-card-button-repost:hover path {
    fill: #244D4D;
}

.swiper-card-buy {
    border: none;
    background-color: #244D4D;
    padding: 5px 15px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.75;
    color: #FFFFFF;
    white-space: nowrap;
}

.swiper-card-buy:hover {
    background-color: #2b8d96;
}

.swiper-slide-active .swiper-card-buy {
    box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.25);
}

@media (max-width: 1000px) {
    .swiper-furniture-wrapper {
        column-gap: 20px;
    }
    .swiper-furniture {
        margin-top: 70px;
    }
}

@media (max-width:767px) {
    .swiper-slide {
        width: 50vw;
    }
    .swiper-card-h4-buttons {
        display: flex;
        column-gap: 30px;
    }
    .swiper-card-h4 {
        font-size: 16px;
    }
}

@media (max-width: 478px) {
    .swiper-furniture-wrapper {
        flex-direction: column;
        text-align: center;
        row-gap: 30px;
    }
    .swiper-text-p {
        margin-top: 10px;
    }
    .swiper-buttons-container {
        margin: auto;
    }
    .swiper {
        margin-top: 30px;
    }
}

/* ------------------------------------------------------------------------------ */

.all-furniture {
    margin-top: 140px;
}
.all-furniture-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.all-furniture-h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.5;
    color: #242424;
}

.all-furniture-list {
    display: flex;
    column-gap: 100px;
    margin-top: 20px;
}

.all-furniture-shop-by-button {
    border: none;
    background-color: transparent;
    font-size: 24px;
    line-height: 1.13;
    color: #919090;
    cursor: pointer;
    padding: 0;
}

.all-furniture-shop-by-button:hover {
    color: #2b8d96;
}

.all-furniture-shop-by-button.active {
    display: inline-flex;
    position: relative;
    height: 35px;
    font-weight: 500;
    color: #154444;
}

.all-furniture-shop-by-button.active::after {
    position: absolute;
    content: "";
    display: flex;
    align-self: flex-end;
    width: 100%;
    height: 2px;
    background: #154444;
}

.all-furniture-shop-by-button.active:hover {
    color: #2b8d96;
}

.all-furniture-shop-by-button.active:hover::after {
    background-color: #2b8d96;
}

.tab-content {
    display: none;
}

.tab-content.active {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.all-fugniture-content-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    margin-top: 35px;
    gap: 30px;
    width: 474px;
    height: 336px;
}

.all-fugniture-content-item {
    width: 222px;
    height: 90px;
}

.all-fugniture-content-button {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 14px;
    width: 222px;
    height: 90px;
    background-color: transparent;
    border: 1.5px solid #D9DCE5;
    cursor: pointer;
}

.all-fugniture-content-button:hover {
    background-color: #154444;
}

.all-fugniture-content-button > svg path {
    fill: #666666;
}

.all-fugniture-content-button:hover > svg path {
    fill: #FFFFFF;
}

.all-fugniture-content-button > span {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    color: #808080;
}

.all-fugniture-content-button:hover > span {
    color: #FFFFFF;
}


/* ------------------------------------------------------------------------------------------------------------------------ */

.reviews {
    display: flex;
    margin-top: 140px;
    column-gap: 100px;
}

.review-content {
    margin-top: 105px;
}

.review-content > h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.5;
    color: #242424;
    margin: 0;
}

.review-content > p {
    line-height: 1.35;
    color: #383738;
    margin: 20px 0 40px;
}

.review-profile {
    display: flex;
    column-gap: 10px;
}

.review-profile-info > h4 {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}

.review-profile-info > p {
    position: relative;
    margin: 7px 0 0 25px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
}

.review-profile-info > p::before {
    position: absolute;
    content: url(../icons/Star.svg);
    margin-left: -25px;
}

/* ---------------------------------------- */

.subscribe-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    background-color: #F4F6F6;
    padding: 68px 297px 55px;
}

.subscribe-email-text {
    text-align: center;
}

.subscribe-email-text > h3 {
    margin: 0 0 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.5;
    color: #222222;
}

.subscribe-email-text > p {
    margin: 0 0 40px 0;
    font-size: 16px;
    line-height: 1.5;
    color: #222222;
}

.subscribe-email-form {
    width: 472px;
    max-width: 100%;
    background-color: #ffffff;
    position: relative;
}

.subscribe-email-form > input {
    display: inline;
    border: none;
    outline: none;
    width: 300px;
    padding: 22px 20px 22px 45px;
    background-color: #ffffff;
    font-size: 16px;
    color: #bababa;
}

.subscribe-email-form::before {
    content: url(../icons/email.svg);
    position: absolute;
    top: 21px;
    left: 17px;
}

.subscribe-email-form > button {
    padding: 15px 30px;
    position: absolute;
    top: 7px;
    right: 20px;
    background-color: #305F64;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    border: none;
}

/* ------------------------------------------------------------------------------------------------------- */

.footer {
    background-color: #305F64;
    margin-top: 140px;
}

.footer-content {
    display: flex;
    padding-top: 100px;
}

.footer-logo-follow-us {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.footer-logo-follow-us > h3 {
    color: #FFFFFF;
    margin: 0;
}

.footer-logo-follow-us > p {
    width: 308px;
    margin: 25px 0 0 0;
    font-size: 18px;
    line-height: 1.4;
    color: #fff;
}

.footer-logo-follow-us > h4 {
    margin: 40px 0 0 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #fff;
}

.footer-follow-us-link {
    display: flex;
    column-gap: 15px;
    margin-top: 20px;
}

.footer-take-a-tour {
    margin: 0 100px 0 157px;
}

.footer-take-a-tour > h4 {
    margin: 0;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

.footer-take-a-tour-list {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.footer-take-a-tour-link {
    color: #ffffff;
    font-size: 18px;
}

.footer-our-company {
    margin-right: 108px;
}

.footer-our-company-list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-top: 25px;
}

.footer-our-company-link {
    color: #ffffff;
    font-size: 18px;    
}

.footer-our-company > h4 {
    margin: 0;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

.footer-subscribe > h4 {
    margin: 0;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

.footer-subscribe > p {
    color: #ffffff;
    margin-top: 23px;
    font-size: 18px;
}

.footer-subscribe > form {
    width: 253px;
    max-width: 100%;
    background-color: #ffffff;
    margin-top: 40px;
    position: relative;
}

.footer-subscribe > form > input {
    display: inline;
    border: none;
    outline: none;
    padding: 14px 12px 13px 22px;
    font-size: 16px;
    width: 200px;
    color: #859395;
}

.footer-subscribe > form > button {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 10px;
    right: 12px;
    background-color: #FFB624;
    border-radius: 50%;
    border: none;
}

hr {
    border: 1px solid #407980;
    margin: 40px 0 0 0;
}

.footer > span {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 18px;
    padding-block: 20px;
}
